<body> 
    <h1 class="text-center mb-4">Add New Category</h1>
    <div class="row">
    <div class="col">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/admin/category">category Management</a></li>
          <li class="breadcrumb-item active">Add Category</li>
        </ol>
      </nav>
    </div>
  </div>
      {{#if error}}
          <div class="alert alert-danger" role="alert">
            {{error}}
          </div>
          {{/if}}  
          {{#if success}}
          <div class="alert alert-success" role="alert">
            {{success}}
          </div>
          {{/if}} 
          <form action="/admin/addcategory" method="post">
      <div class="row mb-4">
        <label for="category-name" class="col-sm-2 col-form-label">Category Name:</label>
        <div class="col-sm-10">
            <input type="text" id="category-name" name="name" class="form-control" required>
            <div class="invalid-feedback">Please enter a category name.</div>
        </div>
    </div>
    <div class="row mb-4">
        <label for="category-description" class="col-sm-2 col-form-label">Description:</label>
        <div class="col-sm-10">
            <textarea id="category-description" name="description" cols="20" rows="6" class="form-control" placeholder="Category Details" required></textarea>
            <div class="invalid-feedback">Please enter a category description.</div>
        </div>
    </div>
    
    <div class="row mb-4">
        <div class="col-sm-2 offset-sm-2">
            <div class="form-check">
                <input type="checkbox" id="category-active" name="isActive" class="form-check-input">
                <label for="category-active" class="form-check-label">Active</label>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-10 offset-sm-2">
            <button type="submit" name="addCategory" class="btn btn-primary p-3" style="width: 100%; background-color: #6A9739;" onclick="return validateForm(event)">Add Category</button>
        </div>
    </div>
  </form>
</body>
<script src="/javascripts/addCategoryscript.js"></script>
