<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Organic</title>
    <link rel="icon" href="/images/Organic_icon.ico" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA="crossorigin="anonymous" />
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg "
        style="height: 6.5675rem; background-color: #6A9739;">
        <div class="container">
          <a class="navbar-brand" href="#">
            <img src="/images/organic-store-white-logo.png" alt="Organic"
              width="80" height="40">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon">
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav d-flex flex-row align-items-center">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page"
                      href="/">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page"
                      href="/categories">Shop</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page"
                      href="/acctorderDetails">Orders</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/wallet">Wallet</a>
                  </li>
                </ul>
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                  <div class="d-flex flex-row justify-content-end gap-10">
                    <span class="navlink-container">
                      <div
                        class="d-flex flex-row justify-content-end gap-2 dropdown-wrapper">
                        <li class="nav-item dropdown">
                          <div class="nav-link dropdown-toggle" role="button"
                            id="accountDropdown" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <span class="nav-user-img">
                              <img
                                style="width: 40px; height: 40px; border-radius: 50%;"
                                src="/images/admin.jpg" alt="User name">
                              <span class="online-dot"></span>
                            </span>
                          </div>

                          {{#if userData}}
                          <ul class="dropdown-menu dropdown profile-dropdown"
                            aria-labelledby="accountDropdown">
                            <li><a class="dropdown-item profile"
                                href="/profileDetails"><i
                                  class="bi bi-person-fill px-3"></i> My
                                Profile</a></li>
                            <li><a class="dropdown-item danger"
                                href="/logout"><i
                                  class="bi bi-box-arrow-left px-3"></i>Logout</a></li>
                          </ul>
                          {{else}}
                          <ul class="dropdown-menu profile-dropdown"
                            aria-labelledby="accountDropdown">
                            <li><a class="dropdown-item profile"
                                href="/login"><i
                                  class="bi bi-box-arrow-in-right px-3"></i>LogIn</a></li>
                            <li><a class="dropdown-item profile"
                                href="/signup"><i
                                  class="bi bi-paperclip px-3"></i>SignUp</a></li>
                          </ul>
                          {{/if}}
                        </li>
                        <li class="nav-item">
                          <a href="/wishlist" type="button"
                            class="btn  btn-small">
                            <i class="bi bi-heart-fill"></i>
                          </a>
                        </li>
                        <li class="nav-item">
                          <a href="/cart" type="button" class="btn  btn-small">
                            <i class="bi bi-cart-fill"></i>
                          </a>
                        </li>
                      </div>
                    </div>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </nav>

      </header>

      <main>
        {{{body}}}
      </main>
      <footer class="rectangle-parent">
        <div class="rectangle"></div>
        <div class="child-frame">
          <!-- Footer content goes here -->
          <div class="content-frame">
            <a class="sub-frames" href="/">
              <img class="rectangle-shape-icon" loading="lazy" alt="organic" src="/images/organic-store-white-logo.png" />
            </a>
            <div class="maecenas-mi-justo">
              Maecenas mi justo, interdum at consectetur vel, tristique et arcu.
              Ut quis eros blandit, ultrices diam in, elementum ex. Suspendisse
              quis faucibus urna. Suspendisse pellentesque.
            </div>
          </div>
          <div class="parent-frame">
            <div class="links-frame">
              <h3 class="quick-links">Quick Links</h3>
              <div class="page-frames">
                <a class="cart" href="/cart">Cart</a>
                <a class="home" href="/">Home</a>
                <a class="my-account" href="/profileDetails">My account</a>
                <a class="shop" href="/categories">Shop</a>
              </div>
              <div class="footer-frame">
                <h3 class="site-links">Site Links</h3>
                <div class="policies-frame">
                  <a class="privacy-policy" href="/">Privacy Policy</a>
                  <a class="shipping-details" href="/">Shipping Details<av>
                      <a class="offers-coupons" href="/">Offers Coupons</a>
                      <a class="terms-conditions" href="/">Terms &
                        Conditions</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="shipping-details1">
                <div class="offers-frame">
                  <div class="coupons-frame">
                    <h3><a class="download-our-mobile" href="/"> Download Our
                        Mobile App</a> </h3>
                    <div class="lorem-ipsum-dolor">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                      Donec
                      aliquam gravida sollicitudin. Praesent porta enim mi, non
                      tincidunt libero interdum sit amet.
                    </div>
                  </div>
                  <div class="link-text">
                    <h3 class="quick-links1">Quick Links</h3>
                    <div class="store-frame">
                      <a class="know-more-about" href="/">Know More About Us</a>
                      <a class="visit-store" href="/">Visit Store</a>
                      <a class="lets-connect" href="/">Let’s Connect</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="copyright-frame">
              <!-- Copyright content goes here -->
              <div class="rectangle1"></div>
              <div class="copyright-2024">Copyright © 2024 | Organic Store</div>

              <ul class="ms-auto mb-2 mb-lg-0">
                <div class="d-flex flex-row justify-content-end gap-10">
                  <button type="button" class="btn btn-small">
                    <i class="bi bi-facebook"></i>
                  </button>
                  <button type="button" class="btn btn-small">
                    <i class="bi bi-twitter-x"></i>
                  </button>
                  <button type="button" class="btn btn-small">
                    <i class="bi bi-instagram"></i>
                  </button>
                  <button type="button" class="btn btn-small">
                    <i class="bi bi-threads"></i>
                  </button>
                </div>
              </ul>
            </div>
          </footer>
          <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
          <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
          <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
          <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
        </html>