
<body>    
<main>
  <div class="container-fluid m-5 p-3 gap-2">
<div class="row d-flex flex-column align-items-center justify-contents-center" style="width: 100%;">   
        <div class="col-sm-6 login-section-wrapper">
        <div class="login-wrapper my-auto">
          <h1 class="login-title">Reset Password</h1>
          <h4 class="login-subtile">email@example.com</h4>
                   <form action="/resetpassword" method="post">
                      <div class="form-group mb-4">
                      <label for="password">New Password</label>
                      <input type="password" name="password" id="password" class="form-control" placeholder="Enter Your New Password" required>
                      </div>
                       <div class="form-group mb-4">
                        <label for="confirmpassword">Confirm Password</label>
                        <input type="password" name="confirmpassword" id="confirmpassword" class="form-control" placeholder="Re-enter your passsword"required>
                        </div>
                      <button type="submit" name="login" class="btn btn-primary p-3" style="width: 100%; background-color: #6A9739;" onclick="validateForm(event)">Set New Password</button>
                    </form>
                <a class="login-wrapper-footer-text signup" style="color:black; " href="/login" class="text-reset">Back to Login</a></p>
            </div>
            </div>
        </div>
      </div> 
  </main>
</body>
<script src="/javascripts/resetpassword.js"></script>
