body {
    font-family: 'Poppins', sans-serif;
}

.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}
.form-check-input[type=checkbox].form-switch {
    height: 50%; 
}


/* Responsive design */
@media (max-width: 768px) {
    .form-group {
        flex-direction: column;
    }
}


.image-container{
    height: 120px;
    width: 200px;
    border-radius: 6px;
    overflow: hidden;
}
.image-container img{
    height: 100px;
    width: auto;
    object-fit: cover;
}
.image-container span{
    right: 20px;
    color: black;
    font-size: 28px;
    font-weight: normal;
    cursor: pointer;
}
