body {
    font-family: 'Poppins', sans-serif;
}

.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}
.form-check-input[type=checkbox].form-switch {
    height: 50%; 
}


/* Responsive design */
@media (max-width: 768px) {
    .form-group {
        flex-direction: column;
    }
}
