body {
    background-color: #F1F2F3;
    font-family: 'Poppins', sans-serif;
}

.container {
    max-width: 1200px;
}
.profile-card-2 {
    max-width: 300px;
    background-color: #FFF;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
    background-position: center;
    overflow: hidden;
    position: relative;
    margin: 10px auto;
    cursor: pointer;
    border-radius: 10px;
}

.profile-card-2 img {
    transition: all linear 0.25s;
    opacity: 80%;
}

.profile-card-2 .profile-name {
    position: absolute;
    left: 30px;
    bottom: 70px;
    font-size: 30px;
    color: #050505;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    font-weight: bold;
    transition: all linear 0.25s;
}

.profile-card-2 .profile-icons {
    position: absolute;
    bottom: 30px;
    right: 30px;
    color: #FFF;
    transition: all linear 0.25s;
}

.profile-card-2 .profile-username {
    position: absolute;
    bottom: 50px;
    left: 30px;
    color: #0c0c0c;
    font-size: 18px;
    transition: all linear 0.25s;
    z-index: 2;
}


.profile-card-2:hover img {
    filter: grayscale(100%);
}

.profile-card-2:hover .profile-name {
    bottom: 80px;
}

.profile-card-2:hover .profile-username {
    bottom: 60px;
}



.search{
    margin-bottom: auto;
    height: 70px;
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
}

.search-input{

    color: white;
    border:0;
    outline: 0;
    background: none;
    width: 0;
    margin-top:5px;
    caret-color:transparent;
    line-height: 40px;
    transition: width 0.4s linear;

}

.search .search-input{
    padding: 0 10px;
    width: 400px;
    caret-color: #536bf6;
    font-size: 21px;
    font-weight: 300;
    color: black;
    transition: width 0.4s linear;
}

.search:hover>.search-icon{
    background:#1A237E;
    color:#fff;
}
.search-icon{

    height: 50px;
    width: 50px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #536bf6;

}
a:link{
    text-decoration: none;
}








.drp-btn{
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    border: 2px solid #dc3545;
    font-weight: 600;
}
.drp-btn:focus{

    box-shadow: none !important;

}


.drp-btn::after {

    display: none;

}

.upper-dropdown{

    width: 200px;
        border: 2px solid #F44336;
        padding: 0rem 0;
            transform: translate3d(0px, 50px, 0px) !important;

}

.dropdown-list:focus, .dropdown-list:hover {
    color: #ffffff;
    background-color: #dc3545;
    padding: 12px;
}

.dropdown-list {
    display: block;
    width: 100%;
    padding: 12px;

    }