<link rel="stylesheet" href="stylesheets/shoppingcart.css">
<body>
    {{#if error}}
            <div id="flash-message" class="alert alert-danger" role="alert">
            {{error}}
            </div>
            {{/if}}
            {{#if success}}
            <div id="flash-message" class="alert alert-success" role="alert">
            {{success}}
            </div>
            {{/if}}
    <div class="container py-5">
        <div class="row d-flex align-items-center justify-content-center">
            <aside class="col-lg-7">
                <div class="card">
                    <div class="table-responsive">
                        <table class="table table-borderless table-shopping-cart">
                            <thead class="text-muted">
                                <img src="/images/empty-cart.jpg" alt="Empty Cart" class="image">
                            </thead>
                        </table>
                    </div>
                </div>
            </aside>
</body>