<!-- Custom CSS for additional styling -->
<link rel="stylesheet" href="/stylesheets/addProduct.css">
<!-- Bootstrap CSS for styling -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<!-- SweetAlert2 for alert popups -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<body>
    <div class="container ">
        
    <h1 class="text-center mb-4 ">Add New Product</h1>
    <div class="row ">
        <div class="col">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a
                            href="/admin/product">Product
                            Management</a></li>
                    <li class="breadcrumb-item active">Add Product</li>
                </ol>
            </nav>
        </div>
    {{#if error}}
    <div class="alert alert-danger" >
        {{error}}
    </div>
    {{/if}}
    {{#if success}}
    <div class="alert alert-success" >
        {{success}}
    </div>
    {{/if}}
    <!-- Form for adding a new product -->
    <form id="addProductForm" action="/admin/addProduct" method="post"
        enctype="multipart/form-data">
        <div class="row form-group mb-4 p-3 gap-4">
            <div class="col">
                <label for="product-sku" class="col-form-label"><span style="color: red;">*</span>Product SKU:</label>
                <div class="col-sm-10">
                    <input type="text" id="product-sku" name="sku"
                        class="form-control"  >
                    <span id="sku_error" style="color: red;"></span>
                </div>
            </div>
            <div class="col">
                <label for="product-title"
                    class="col-sm-2 col-form-label"><span style="color: red;">*</span>Title:</label>
                <div class="col-sm-10">
                    <input type="text" id="product-title" name="title"
                        class="form-control"  >
                    <span id="title_error" style="color: red;"></span>
                </div>
            </div>
            <div class="col">
                <label for="product-name"
                    class="col-sm-2 col-form-label"><span style="color: red;">*</span>Name:</label>
                <div class="col-sm-10">
                    <input type="text" id="product-name" name="name"
                        class="form-control"  >
                    <span id="name_error" style="color: red;"></span>
                </div>
            </div>
        </div>
            <div class="row form-group mb-4 p-3 gap-4">
                <div class="col">
                    <label for="product-price" class="col-sm-2 col-form-label"><span style="color: red;">*</span>Price:</label>
                    <div class="col-sm-10">
                        <input type="number" id="product-price" name="price" class="form-control"  >
                        <span id="price_error" style="color: red;"></span>
                    </div>
                </div>
                <div class="col">
                    <label for="product-category"class="col-sm-2 col-form-label"><span style="color: red;">*</span>Category:</label>
                    <div class="col-sm-10">
                        <select id="product-category" name="categoryId"class="form-select"  >
                            {{#each categories}}<option value="{{this._id}}">{{this.name}}</option>
                            {{/each}}
                        </select>
                        <span id="category_error" style="color: red;"></span>
                    </div>
                </div>
            </div>
            <!-- Image upload section -->            
            <div class="container mt-3 w-100 py-4">
                <div class="card shadow-sm w-100">
                    <div class="card-header d-flex justify-content-between">
                        <h4><span style="color: red;">*</span>Upload Images</h4>
                            <form action="#" class="form" id="form"> 
                                <input type="file" name="image" id="product-image" multiple class="d-none" onchange="image_select()" >
                                    <button class="btn btn-sm btn-success" type="button" onclick="document.getElementById('product-image').click()">
                                        Choose Images
                                    </button>
                            </form>
                    </div>
                    <div class="card-body d-flex flex-wrap justify-content-start" id="container">
                        
                    </div>
                </div>
            </div>

            <span id="image_error" style="color: red;"></span>
                <div class="row">
                    <div class="form-group mb-4 d-flex flex-row align-items-center justify-content-center">
                        <span id="form_error" style="color: red;" ></span>
                        <button type="submit" form="addProductForm" class="btn btn-success " style="width: 50%; " >Add Product</button>
                    </div>
                </div>
                <span style="color: red;">* <span class="text-muted">(All fields are mandatory)</span></span>
        </div>
    </form>
</div>
    
    <script src="/javascripts/addProduct.js"></script>
</body> 